<h1> Import </h1>

In [98]:
from pandas import read_csv
from pandas import DataFrame
from math import pow,sqrt
import numpy as np
import datetime
import random

<h1> Preprocessing </h1>

In [16]:
cencus = read_csv("CencusIncome.csv", header = None)
cencusData = cencus.drop(6, axis = 1)
cencusData

        0       1   2      3     4   5
0      39   77516  13   2174     0  40
1      50   83311  13      0     0  13
2      38  215646   9      0     0  40
3      53  234721   7      0     0  40
4      28  338409  13      0     0  40
5      37  284582  14      0     0  40
6      49  160187   5      0     0  16
7      52  209642   9      0     0  45
8      31   45781  14  14084     0  50
9      42  159449  13   5178     0  40
10     37  280464  10      0     0  80
11     30  141297  13      0     0  40
12     23  122272  13      0     0  30
13     32  205019  12      0     0  50
14     40  121772  11      0     0  40
15     34  245487   4      0     0  45
16     25  176756   9      0     0  35
17     32  186824   9      0     0  40
18     38   28887   7      0     0  50
19     43  292175  14      0     0  45
20     40  193524  16      0     0  60
21     54  302146   9      0     0  20
22     35   76845   5      0     0  40
23     43  117037   7      0  2042  40
24     59  109015   9      0     0  40
25     56  216851  13      0     0  40
26     19  168294   9      0     0  40
27     54  180211  10      0     0  60
28     39  367260   9      0     0  80
29     49  193366   9      0     0  40
...    ..     ...  ..    ...   ...  ..
32531  30   33811  13      0     0  99
32532  34  204461  16      0     0  60
32533  54  337992  13      0     0  50
32534  37  179137  10      0     0  39
32535  22  325033   8      0     0  35
32536  34  160216  13      0     0  55
32537  30  345898   9      0     0  46
32538  38  139180  13  15020     0  45
32539  71  287372  16      0     0  10
32540  45  252208   9      0     0  40
32541  41  202822   9      0     0  32
32542  72  129912   9      0     0  25
32543  45  119199  12      0     0  48
32544  31  199655  14      0     0  30
32545  39  111499  12      0     0  20
32546  37  198216  12      0     0  40
32547  43  260761   9      0     0  40
32548  65   99359  15   1086     0  60
32549  43  255835  10      0     0  40
32550  43   27242  10      0     0  50
32551  32   34066   6      0     0  40
32552  43   84661  11      0     0  45
32553  32  116138  14      0     0  11
32554  53  321865  14      0     0  40
32555  22  310152  10      0     0  40
32556  27  257302  12      0     0  38
32557  40  154374   9      0     0  40
32558  58  151910   9      0     0  40
32559  22  201490   9      0     0  20
32560  52  287927   9  15024     0  40

[32561 rows x 6 columns]

<h1> Euclidean Distance </h1>

In [7]:
def euclidean_distance(instance1,instance2):
#     asumsi jumlah tabel sama
    columnCount = len(instance1)
    sum = 0
    for i in range(columnCount):
        sum += pow(instance1[i]-instance2[i],2)
    return sqrt(sum)

def normalize(v):
    norm = np.linalg.norm(v)
    if norm == 0: 
       return v
    return v / norm

In [8]:
# print(euclidean_distance(cencusData.loc[1],cencusData.loc[2]))
normalizedData = normalize(cencusData) 
print(normalizedData)

                  0         1             2         3         4             5
0      9.946924e-07  0.001977  3.315641e-07  0.000055  0.000000  1.020197e-06
1      1.275247e-06  0.002125  3.315641e-07  0.000000  0.000000  3.315641e-07
2      9.691875e-07  0.005500  2.295444e-07  0.000000  0.000000  1.020197e-06
3      1.351761e-06  0.005987  1.785345e-07  0.000000  0.000000  1.020197e-06
4      7.141381e-07  0.008631  3.315641e-07  0.000000  0.000000  1.020197e-06
5      9.436825e-07  0.007258  3.570691e-07  0.000000  0.000000  1.020197e-06
6      1.249742e-06  0.004086  1.275247e-07  0.000000  0.000000  4.080789e-07
7      1.326257e-06  0.005347  2.295444e-07  0.000000  0.000000  1.147722e-06
8      7.906529e-07  0.001168  3.570691e-07  0.000359  0.000000  1.275247e-06
9      1.071207e-06  0.004067  3.315641e-07  0.000132  0.000000  1.020197e-06
10     9.436825e-07  0.007153  2.550493e-07  0.000000  0.000000  2.040395e-06
11     7.651480e-07  0.003604  3.315641e-07  0.000000  0.000000  1.020197e-06
12     5.866135e-07  0.003119  3.315641e-07  0.000000  0.000000  7.651480e-07
13     8.161579e-07  0.005229  3.060592e-07  0.000000  0.000000  1.275247e-06
14     1.020197e-06  0.003106  2.805543e-07  0.000000  0.000000  1.020197e-06
15     8.671677e-07  0.006261  1.020197e-07  0.000000  0.000000  1.147722e-06
16     6.376233e-07  0.004508  2.295444e-07  0.000000  0.000000  8.926727e-07
17     8.161579e-07  0.004765  2.295444e-07  0.000000  0.000000  1.020197e-06
18     9.691875e-07  0.000737  1.785345e-07  0.000000  0.000000  1.275247e-06
19     1.096712e-06  0.007452  3.570691e-07  0.000000  0.000000  1.147722e-06
20     1.020197e-06  0.004936  4.080789e-07  0.000000  0.000000  1.530296e-06
21     1.377266e-06  0.007706  2.295444e-07  0.000000  0.000000  5.100987e-07
22     8.926727e-07  0.001960  1.275247e-07  0.000000  0.000000  1.020197e-06
23     1.096712e-06  0.002985  1.785345e-07  0.000000  0.000052  1.020197e-06
24     1.504791e-06  0.002780  2.295444e-07  0.000000  0.000000  1.020197e-06
25     1.428276e-06  0.005531  3.315641e-07  0.000000  0.000000  1.020197e-06
26     4.845937e-07  0.004292  2.295444e-07  0.000000  0.000000  1.020197e-06
27     1.377266e-06  0.004596  2.550493e-07  0.000000  0.000000  1.530296e-06
28     9.946924e-07  0.009367  2.295444e-07  0.000000  0.000000  2.040395e-06
29     1.249742e-06  0.004932  2.295444e-07  0.000000  0.000000  1.020197e-06
...             ...       ...           ...       ...       ...           ...
32531  7.651480e-07  0.000862  3.315641e-07  0.000000  0.000000  2.524988e-06
32532  8.671677e-07  0.005215  4.080789e-07  0.000000  0.000000  1.530296e-06
32533  1.377266e-06  0.008620  3.315641e-07  0.000000  0.000000  1.275247e-06
32534  9.436825e-07  0.004569  2.550493e-07  0.000000  0.000000  9.946924e-07
32535  5.611085e-07  0.008290  2.040395e-07  0.000000  0.000000  8.926727e-07
32536  8.671677e-07  0.004086  3.315641e-07  0.000000  0.000000  1.402771e-06
32537  7.651480e-07  0.008822  2.295444e-07  0.000000  0.000000  1.173227e-06
32538  9.691875e-07  0.003550  3.315641e-07  0.000383  0.000000  1.147722e-06
32539  1.810850e-06  0.007329  4.080789e-07  0.000000  0.000000  2.550493e-07
32540  1.147722e-06  0.006433  2.295444e-07  0.000000  0.000000  1.020197e-06
32541  1.045702e-06  0.005173  2.295444e-07  0.000000  0.000000  8.161579e-07
32542  1.836355e-06  0.003313  2.295444e-07  0.000000  0.000000  6.376233e-07
32543  1.147722e-06  0.003040  3.060592e-07  0.000000  0.000000  1.224237e-06
32544  7.906529e-07  0.005092  3.570691e-07  0.000000  0.000000  7.651480e-07
32545  9.946924e-07  0.002844  3.060592e-07  0.000000  0.000000  5.100987e-07
32546  9.436825e-07  0.005055  3.060592e-07  0.000000  0.000000  1.020197e-06
32547  1.096712e-06  0.006651  2.295444e-07  0.000000  0.000000  1.020197e-06
32548  1.657821e-06  0.002534  3.825740e-07  0.000028  0.000000  1.530296e-06
32549  1.096712e-06  0.006525  2.550493e-07  0.000000  0.000000  1.020197e-06
32550  1.096712e-06  0.000695  2.550493e-07  0.000000  0.000000  1.275247e-06
32551  8.161579e-07  0.000869  1.530296e-07  0.000000  0.000000  1.020197e-06
32552  1.096712e-06  0.002159  2.805543e-07  0.000000  0.000000  1.147722e-06
32553  8.161579e-07  0.002962  3.570691e-07  0.000000  0.000000  2.805543e-07
32554  1.351761e-06  0.008209  3.570691e-07  0.000000  0.000000  1.020197e-06
32555  5.611085e-07  0.007910  2.550493e-07  0.000000  0.000000  1.020197e-06
32556  6.886332e-07  0.006562  3.060592e-07  0.000000  0.000000  9.691875e-07
32557  1.020197e-06  0.003937  2.295444e-07  0.000000  0.000000  1.020197e-06
32558  1.479286e-06  0.003874  2.295444e-07  0.000000  0.000000  1.020197e-06
32559  5.611085e-07  0.005139  2.295444e-07  0.000000  0.000000  5.100987e-07
32560  1.326257e-06  0.007344  2.295444e-07  0.000383  0.000000  1.020197e-06

[32561 rows x 6 columns]

In [9]:
print(euclidean_distance(normalizedData.loc[1],normalizedData.loc[2]))

0.0033751954849832928

<h1> Clustering </h1>

In [10]:
len(normalizedData.index)

32561

In [168]:
def classify_k_medoids(instance, medoids):
    row_count = len(medoids.index)
    distances = np.zeros(row_count)
    for index, row in medoids.iterrows():
        distances[index] = euclidean_distance(instance,row)
    result = [0, 0]
    result[0] = np.argmin(distances)
    result[1] = distances[np.argmin(distances)]
    return result

def k_medoids(df, k, max_iterations):
    row_count = len(df.index)
    col_count = len(df.columns)
    medoids = df.sample(k)
    medoids = medoids.reset_index(drop=True)
    is_convergence = False;
    i = 0
    error = 0.0
    iteration = 0
    #Initiate array for membership
    membership = []
    for index in range(0,k):
        membership.append([])
    #First time classify
    print(i)
    print(datetime.datetime.now())
    prev_medoids = medoids.copy()
    pred = np.zeros(row_count).astype(int)
    #Classify each row & count error
    for index, row in df.iterrows():
        tmp_array = classify_k_medoids(row, prev_medoids)
        pred[index] = tmp_array[0]
        membership[tmp_array[0]].append(index)
        error += tmp_array[1]
    best_error = error
    best_pred = np.copy(pred)
    best_medoids = medoids.copy()
    print(best_error)
    print(prev_medoids)
    i += 1
    
    while (not is_convergence):
        #Get new medoids (randomize)
        random_class = random.randint(0, k-1)
        sum_members_of_class = len(membership[random_class])
        random_medoid = random.randint(0, sum_members_of_class-1)
        #print("membership " + str(membership[random_class]))
        print("sum member of class" + str(sum_members_of_class))
        print("random medoid" + str(random_medoid))
        for index in range(0, col_count):
            medoids.iat[random_class, index] = df.iat[random_medoid, index]
        print(prev_medoids)
        print(medoids)
        #Initiate array for membership
        membership = []
        for index in range(0,k):
            membership.append([])
        #Classify each row & count error
        print(i)
        print(datetime.datetime.now())
        prev_medoids = medoids.copy()
        pred = np.zeros(row_count).astype(int)
        error = 0.0        
        for index, row in df.iterrows():
            tmp_array = classify_k_medoids(row, prev_medoids)
            pred[index] = tmp_array[0]
            membership[tmp_array[0]].append(index)
            error += tmp_array[1]
        print(error)

        #Stop condition    
        #print(membership)
        if(error >= best_error):
            iteration += 1
        else:
            iteration = 0
            best_error = error
            best_pred = np.copy(pred)
            best_medoids = medoids.copy()
        i += 1
        if(iteration == max_iterations):
            is_convergence = True
    print("best error = " + str(best_error))
    print("best pred = " + str(best_pred))
    print("best medoids = " + str(best_medoids))
    return {0: best_pred,1: best_medoids}

In [169]:
tmp2 = k_medoids(normalizedData, 3, 2)

0
2017-12-02 18:24:38.183673
36.5166286226
              0         1             2    3    4         5
0  7.396431e-07  0.006301  2.295444e-07  0.0  0.0  0.000001
1  1.096712e-06  0.004451  2.295444e-07  0.0  0.0  0.000001
2  9.181776e-07  0.003451  3.315641e-07  0.0  0.0  0.000001
sum member of class9182
random medoid8300
              0         1             2    3    4         5
0  7.396431e-07  0.006301  2.295444e-07  0.0  0.0  0.000001
1  1.096712e-06  0.004451  2.295444e-07  0.0  0.0  0.000001
2  9.181776e-07  0.003451  3.315641e-07  0.0  0.0  0.000001
              0         1             2    3    4         5
0  7.396431e-07  0.006301  2.295444e-07  0.0  0.0  0.000001
1  6.376233e-07  0.003439  2.295444e-07  0.0  0.0  0.000001
2  9.181776e-07  0.003451  3.315641e-07  0.0  0.0  0.000001
1
2017-12-02 18:24:51.491067
42.6707206147
sum member of class8406
random medoid8350
              0         1             2    3    4         5
0  7.396431e-07  0.006301  2.295444e-07  0.0  0.0  0.000001
1  6.376233e-07  0.003439  2.295444e-07  0.0  0.0  0.000001
2  9.181776e-07  0.003451  3.315641e-07  0.0  0.0  0.000001
              0         1             2    3    4             5
0  7.396431e-07  0.006301  2.295444e-07  0.0  0.0  1.020197e-06
1  6.376233e-07  0.003439  2.295444e-07  0.0  0.0  1.020197e-06
2  6.376233e-07  0.005341  2.550493e-07  0.0  0.0  6.376233e-07
2
2017-12-02 18:25:04.732859
37.1736171006
best error = 36.5166286226
best pred = [2 2 0 ..., 2 1 0]
best medoids =               0         1             2    3    4         5
0  7.396431e-07  0.006301  2.295444e-07  0.0  0.0  0.000001
1  1.096712e-06  0.004451  2.295444e-07  0.0  0.0  0.000001
2  9.181776e-07  0.003451  3.315641e-07  0.0  0.0  0.000001

              0         1             2         3    4         5
0  9.946924e-07  0.001977  3.315641e-07  0.000055  0.0  0.000001